@import "../src/assets/styles/SASS/colors.scss";

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $main_color;
  overflow: hidden;
}
.bg-wheat {
  background-color: $main_color;
}
