@import "../../assets/styles/SASS/colors.scss";
.author {
  height: 250px;
  padding: 8px;
  border-radius: 10px;
}

.auhtor-picture {
  position: relative;
  height: 180px;
  width: 180px;
  border: 6px solid $blue;
  border-radius: 360px;
  box-shadow: 3px 3px 3px 3px rgba($color: #000000, $alpha: 0.5);
}

.auhtor-picture img {
  border-radius: 360px;
}

.author-contact {
  position: absolute;
  top: 0;
  left: 0;
  height: 168px;
  width: 168px;
  border-radius: 360px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  transition: 300ms;
  opacity: 0;
}

.email-icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.phone-icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.auhtor-picture:hover .author-contact {
  opacity: 1;
}

.author-contact-info {
  height: 40px;
  width: 40px;
  border-radius: 360px;
  text-align: center;
}

.author-contact-info li {
  margin: 10px;
  padding: 10px;
}

.body {
  height: 30%;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .author {
    height: 200px;
  }

  .auhtor-picture {
    height: 110px;
    width: 110px;
  }

  .author-contact {
    height: 98px;
    width: 98px;
  }

  .author-contact-info {
    height: 25px;
    width: 25px;
  }

  .author h3 {
    font-size: 14px;
    text-align: center;
  }

  .email-icon {
    width: 15px;
    height: 15px;
  }
  .phone-icon {
    width: 15px;
    height: 15px;
  }

  .author-contact-info li {
    margin: 10px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
}
