@import '../../assets/styles/SASS/colors.scss';
.author{
    height: 250px;
    border-radius: 10px;
}

.auhtor-picture{
    height: 180px;
    width: 180px;
    border: 6px solid $blue;
    border-radius: 360px;
    box-shadow: 3px 3px 3px 3px rgba($color: #000000, $alpha: 0.5);
}

.auhtor-picture img{
    border-radius: 360px;
}

.body{
    height: 30%;
}
