.home{
    height: 50vh;
    position: relative;
    background-image: url('../../assets/images/home2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    z-index: 0;
}

.home-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}