@import '../../assets/styles/SASS/colors.scss';

.book{
    width: 100%;
}

.seperate-line{
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $blue;
}

.book_info li{
    color: $blue;
}

.book_description p{
    color: $blue;
}