.wishlist-item {
  position: relative;
}

.delete-wishlist-item {
  position: absolute;
  top: 0;
  left: 80%;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .wishlist-page h2 {
    font-size: 18px;
  }
  .wishlist .book-card p {
    font-size: 15px;
    overflow: visible;
    white-space: normal;
    height: 11px;
  }

  .wishlist .book-card h5 {
    font-size: 18px;
  }

  .wishlist .heart-outline-icon {
    width: 14px;
    height: 14px;
  }

  .wishlist .cart-icon {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .all-books .book-card .book-details-p {
    font-size: 15px;
    height: 10px;
    overflow: visible;
    white-space: normal;
    text-overflow: ellipsis;
  }

  .wishlist .book-card h5 {
    font-size: 14px;
  }

  .wishlist .heart-outline-icon {
    width: 14px;
    height: 14px;
  }

  .wishlist .add-cart-p {
    height: 100%;
    width: 70%;
    font-size: 20px;
  }
  .wishlist .cart-icon {
    width: 20px;
    height: 20px;
  }
}
