@import "../../assets/styles/SASS/colors.scss";

.header {
  height: 30vh;
  background-image: linear-gradient(to right, $secondary_color, $blue, $black);
  position: relative;
  overflow: hidden;
}

.image {
  rotate: 10deg;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .header {
    height: 60vh;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
}
