@import "../../assets/styles/SASS/colors.scss";

.nav {
  position: absolute;
  opacity: 0.9;
  z-index: 111;
}

.cart-icon-nav {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 0;
  left: 70%;
}

.wishlist-icon {
  position: relative;
}

.wishlist-badge {
  position: absolute;
  top: 0;
  left: 70%;
}
