@import "../../assets/styles/SASS/colors.scss";

.book-card h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-card img {
  position: relative;
}

.book-card p {
  line-height: 5px;
}
.book-card:hover {
  padding-top: 6px;
  transition: 300ms;
}

.book-card:hover img {
  width: 95%;
  align-self: center;
  transition: 300ms;
  transform: rotate3d(-1, -1, -1, 3deg);
  box-shadow: 6px 5px rgb(212, 211, 211);
}

.book-card .ribbon {
  position: absolute;
  top: 120px;
  left: 0;
  height: 30px;
  width: 97%;
  transition: 300ms;
  transform: rotate3d(-1, -1, -1, 3deg);
  background-color: rgba($color: red, $alpha: 0.6);
  display: none;
}

.book_title {
  text-decoration: none;
  color: $black;
}

.ribbon .heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.heart-outline-icon {
  width: 30px;
  height: 30px;
}

.book-card:hover .ribbon {
  display: block;
  cursor: pointer;
}

.add-cart-btn {
  text-decoration: none;
  border: $black 1px solid;
  color: $black;
  padding: 10px;
  margin: 10px;
}

.add-cart-btn:hover {
  color: rgba($color: $black, $alpha: 0.6);
}

.cart-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .book-card p {
    font-size: 8px;
  }

  .book-card h5 {
    font-size: 10px;
  }

  .heart-outline-icon {
    width: 10px;
    height: 10px;
  }

  .add-cart-btn {
    padding: 1px;
  }

  .add-cart-btn p {
    font-size: 5px;
  }
  .cart-icon {
    width: 5px;
    height: 5px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
}
