@import "../../assets/styles/SASS/colors.scss";

.book-card h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-card img {
  position: relative;
}

.book-card p {
  line-height: 5px;
}
.book-card:hover {
  padding-top: 6px;
  transition: 300ms;
}

.book-card:hover img {
  width: 95%;
  align-self: center;
  transition: 300ms;
  transform: rotate3d(-1, -1, -1, 3deg);
  box-shadow: 6px 5px rgb(212, 211, 211);
}

.book-card .ribbon {
  position: absolute;
  top: 120px;
  left: 0;
  height: 30px;
  width: 97%;
  transition: 300ms;
  transform: rotate3d(-1, -1, -1, 3deg);
  background-color: rgba($color: red, $alpha: 0.6);
  display: none;
}

.book_title {
  text-decoration: none;
  color: $black;
}

.ribbon .heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.heart-outline-icon {
  width: 30px;
  height: 30px;
}

.book-card:hover .ribbon {
  display: block;
  cursor: pointer;
}

.add-cart-btn {
  text-decoration: none;
  border: green 1px solid;
  color: green;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.add-cart-btn p {
  width: 70%;
}

.add-cart-btn:hover {
  color: rgba($color: $black, $alpha: 0.6);
}

.cart-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .card-body .book-details-p {
    font-size: 9px;
    height: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book-card h5 {
    font-size: 10px;
  }

  .heart-outline-icon {
    width: 10px;
    height: 10px;
  }

  .add-cart-btn {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 1px;
  }

  .add-cart-btn .add-cart-p {
    font-size: 8px;
    width: 80%;
    height: 10px;
  }

  .cart-icon {
    width: 8px;
    height: 8px;
  }

  .card-body .star {
    font-size: 10px;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
}
